<div class="tool-tab" id="tool-tab-pak">
    <br/>
    <h2>Pak extractor</h2>

    <fieldset>
        <legend>
            <h3>Browse Pak</h3>
        </legend>
        <input type="file" id="fileModel" (change)="setPakFile($event)" />
        <button id="btnView" (click)="extractArchive()">View Archive</button>
        <button id="btnView" (click)="saveAndDownloadArchive()">Save and Download Archive</button>
    </fieldset>

    <fieldset class="lump-fieldset">
        <legend>
            <h3>Lumps</h3>
        </legend>

        <label>Search: </label><input type="text" /><button (click)="search('')">Search in Archive</button>
        <br/>
        <br/>
        <hr/>

        <!-- summary should rather be in a pop up-->
        <div class="summary-stats">
            <table>
                <caption>Summary Stats</caption>
                <thead>
                    <th>Extension</th>
                    <th>Count</th>
                </thead>
                <tbody id="summaryStatsTableBody">
                    
                </tbody>
            </table>
        </div>

        <div class="lump-results">
            <label>Page </label><input type="text" readonly id="pageNumber"/>
            Page Size<select id="pageSize" onchange="updatePageSize()">
                <option value="15" selected>15</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
            </select>
            <div>
            </div>
            <table>
                <caption>Lump files</caption>
                <thead>
                    <th>Action</th>
                    <th>Path</th>
                    <th>Size (KB)</th>
                </thead>
                <tbody>
                    <tr *ngFor="let lump of filteredLumps; let i = index">
                        <td>
                            <select (change)="onChangeLumpAction(i, $event.target)">
                                <option value="">-- Select Action --</option>
                                <option value="preview">Preview</option>
                                <option value="download">Download</option>
                                <option value="delete">Delete</option>
                            </select>
                        </td>
                        <td>{{lump.name}}</td>
                        <td>{{lump.length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    
    <fieldset class="preview-pane-fieldset">
        <legend>
            <h3>Preview pane</h3>
        </legend>
    
        <div>
            <div id="previewPane">
            </div>
        </div>
    </fieldset>
    
</div>